<div class="modal-header">
    <div>
        <span class="db_dialog_title">
            {{"Add Item"}}
        </span>
    </div>
    <div class="float-right">
        <span (click)="close()" class="cursor-pointer cus-hov d-inline-flex">
            <i class="fa fa-times"></i>
            <!-- <mat-icon>close</mat-icon> -->
        </span>
    </div>
</div>
<div class="modal-body">
    <form [formGroup]="customerForm">
        <div class="row">
            <div class="col-4">
                <div class="form_field">
                    <mat-form-field [style.width.px]=150>
                        <mat-label>Bill Number</mat-label>
                        <input matInput formControlName="billNumber">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-4">
                <div class="form_field">
                    <mat-form-field [style.width.px]=150>
                        <mat-label>Buy From</mat-label>
                        <input matInput formControlName="buyFrom">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-4">
                <div class="form_field">
                    <mat-form-field [style.width.px]=150>
                        <mat-label>Date </mat-label>
                        <input matInput formControlName="date">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form_field">
                    <mat-form-field [style.width.px]=150>
                        <mat-label>Item Name </mat-label>
                        <input matInput formControlName="itemName">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-4">
                <div class="form_field">
                    <mat-form-field [style.width.px]=150>
                        <mat-label>Item Code</mat-label>
                        <input matInput formControlName="itemCode">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-4">
                <div class="form_field">
                    <mat-form-field [style.width.px]=150>
                        <mat-label>Rate</mat-label>
                        <input matInput formControlName="rate">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn db_dialog_btn" (click)="save()">Save</button>
    <button class="btn db_dialog_btn dbml-2" (click)="deleteItem()" *ngIf="isEditMode">Delete Item</button>
    <button class="btn db_dialog_btn dbml-2" (click)="clear()">Clear</button>
    <button class="btn db_dialog_btn dbml-2" (click)="close()">Cancel</button>
</div>