<div class="modal-header">
    <div>
        <span class="db_dialog_title">
            Get Cone Weight
        </span>
    </div>
    <div class="float-right">
        <span (click)="close()" class="cursor-pointer cus-hov d-inline-flex">
            <i class="fa fa-times"></i>
        </span>
    </div>
</div>
<div class="modal-body" style="color: black;">
    <div class="row">
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <mat-label>Cone Weight (g)</mat-label>
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <mat-label>No Of Cones</mat-label>
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <mat-label>Total</mat-label>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <mat-label>25</mat-label>
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <input matInput [(ngModel)]="first" (click)="getTotal(1)">
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <input matInput [(ngModel)]="firstTotal">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <mat-label>30</mat-label>
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <input matInput [(ngModel)]="second" (click)="getTotal(2)">
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <input matInput [(ngModel)]="secondTotal">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <mat-label>40</mat-label>
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <input matInput [(ngModel)]="third" (click)="getTotal(3)">
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <input matInput [(ngModel)]="thirdTotal">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <mat-label>50</mat-label>
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <input matInput [(ngModel)]="forth" (click)="getTotal(4)">
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <input matInput [(ngModel)]="forthTotal">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <mat-label>60</mat-label>
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <input matInput [(ngModel)]="fifth" (click)="getTotal(5)">
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <input matInput [(ngModel)]="fifthTotal">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <mat-label>70</mat-label>
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <input matInput [(ngModel)]="sixth" (click)="getTotal(6)">
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <div class="form_field">
                <mat-form-field [style.width.px]=150>
                    <input matInput [(ngModel)]="sixthTotal">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn db_dialog_btn" (click)="save()">Save</button>
    <button class="btn db_dialog_btn dbml-2" (click)="clear()">Clear</button>
    <button class="btn db_dialog_btn dbml-2" (click)="close()">Cancel</button>
</div>